.resblockPanel-compass {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resblockPanel-compass-north {
  position: absolute;
  width: 12px;
  height: 12px;
}

.resblockPanel-compass-txt {
  position: absolute;
  width: 12px;
  height: 12px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 12px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
